{% extends "index.html" %}

{% block description %}
<meta name="description" content="Albatros is a theme for Zola">{% endblock description %}
{% block keywords %}
<meta name="keywords" content="Albatros, Zola, SSG">{% endblock keywords %}

{% block content %}
<main class="w3-container">

    <div class="w3-panel textimage">
        <img alt="img" src="/img/albatros.svg" />
        <div>
            <h1>AWe created our website in ZOLA!!!!!!!!!!!!!!!!!</h1>
            <p>Thank you for watching my video.</p>

            <a class="w3-round w3-large albatros-download-button" href="/"><i class="fa fa-cloud-download"></i> Download
                Albatros</a>
        </div>
    </div>

    <div class="w3-panel">
        <h1 class="w3-center">Some numbers</h1>
        <div class="numbercards">
            <div class="numbercard">
                <span class="false_h2">42</span><span class="false_h3">units</span>
                <p>Isn't 42 a good number? It looks fine, you'll then buy some food for the Albatros.</p>
            </div>
            <div class="numbercard">
                <span class="false_h2">0</span><span class="false_h3">events</span>
                <p>No event took place in the glory of Mister Albatros.</p>
            </div>
            <div class="numbercard">
                <span class="false_h2">22</span><span class="false_h3">developers</span>
                <p>A lot of developers contributed to Albatros (not true, only one), look at the <a
                        href="/team">team</a>.</p>
            </div>
        </div>
    </div>

    <div class="w3-panel titletextimage">
        <h1>Albatros uses w3css</h1>
        <div>
            <img alt="img" style="width: 25%;" src="/img/albatros.png" />
            <div>
                <p>Blanditiis qui dolorem ipsa nobis libero autem expedita. Eaque suscipit rerum atque cum maxime.
                    Consequatur nihil veritatis ducimus omnis odio. Eaque tempore nesciunt dignissimos id nulla hic
                    voluptatem nam. In in ut libero. Harum animi quos id.</p>
                <p>Magni velit in facilis nostrum doloribus asperiores aperiam. Recusandae nemo amet ut. Nulla deserunt
                    quidem consectetur maxime. Perferendis enim autem ad. Architecto pariatur similique labore qui ut
                    iusto beatae.</p>
                <a href="/" class="w3-round w3-button w3-blue">Call to action</a>
            </div>
        </div>
    </div>

</main>
{% endblock content %}