{% extends "index.html" %}

{% block extrahead %}<link rel="stylesheet" type="text/css" href="/team.css">{% endblock extrahead %}

{% block content %}
<main class="w3-container w3-content w3-padding-64">
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
    <br>
    <div class="equipe">
    {% for person in section.extra.authors %}
    <div class="person"> 
        {% set page = get_page(path=config.extra.theme.team_folder ~ "/" ~ person ~ ".md") %}
        <a href="{{ page.permalink }}"><img src="{% if page.extra.avatar %}/avatars/{{ page.extra.avatar }}{% endif %}"/></a>
        <a href="{{ page.permalink }}"><h4>{% if page.extra.full_name %} {{ page.extra.full_name }} {% else %} {{page.title}} {% endif %}</h4></a>
        <p>{{ page.description }}</p>
    </div> 
    {% endfor %}
</main>
{% endblock content %}
