{% extends "page.html" %}
{# author page used in team #}

{% block extrahead %}<link rel="stylesheet" type="text/css" href="/team.css">{% endblock extrahead %}

{% block content %}
<main class="page w3-container w3-content w3-padding-64">  
  {% include "authors/content.html" %}

  {% set author = get_taxonomy_url(kind="authors", name=page.title, lang=page.lang) %}
  <a href="{{ author }}"><i class="fa fa-book"></i> {{config.extra.theme.see_author_articles}}</a>
</main>
{% endblock content %}
