.titlecards
    h1, h2, h3
        text-align: center
    h1
        margin-bottom: 1em
    pre
        overflow: hidden
    i.fa
        color: black

    .m4, .m3    
        img
            width: 50%
            display: block
            margin: auto
        i.fa
            font-size: 5em
            display: block
            text-align: center
            margin-bottom: -12px
    .m4    
        img
            width: 50%
            // height: 5em
            display: block
            margin: auto
        i.fa
            font-size: 5em
            display: block
            text-align: center
            margin-bottom: -12px

    .m3
        h3
            font-size: 1.3em
        img
            width: 40%
            height: 4em
            display: block
            margin: auto
            width: unset
            margin-bottom: -12px
        i.fa
            font-size: 4em
            display: block
            text-align: center
            margin-bottom: -12px





