{% extends "index.html" %}

{% block content %}
<main class="w3-container w3-padding-64">
    {% for group in section.extra.group %}
    <section class="w3-content w3-padding-32">
        <div class="titlecards">
            <h1>{{group.name}}</h1>
            <div class="w3-row-padding">
                {% for item in group.list %}
                {% set page = get_page(path=section.extra.item_path ~ item ~ ".md") %}
                <div class="w3-col {% if group.group_by == 3 %}m4{% elif group.group_by == 4 %}m3{% else %}m1{% endif %}">
                    <a href="{{page.permalink}}">{{ macros::img_or_fa(str=page.extra.logo) }}</a>
                    <h3><a href="{{page.permalink}}" style="color: black">{{page.title}}</a></h3>
                    <p>{{page.content | safe}}</p>
                </div>
                {% if loop.index % group.group_by == 0 %}
            </div>
            <div class="w3-row-padding">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

</main>
{% endblock content %}
