{% extends "index.html" %}

{% block content %}
<main class="page w3-container w3-content w3-padding-64">
  <h1>{{page.title}}</h1>
  {# logo #}
  <div style="width: 10em;">
    {{ macros::img_or_fa(str=page.extra.logo) }}
  </div>
  <ul>
    {% if page.extra.repo -%}
    <li><img class="icon" src="/img/duniter_gitlab_small.png" aria-hidden="true"/> <a href="{{page.extra.repo}}">{{page.extra.repo}}</a></li>
    {%- endif %}
    {% if page.extra.website -%}
    <li><i class="fa fa-globe-e" aria-hidden="true"></i> <a href="{{page.extra.website}}">{{page.extra.website}}</a></li>
    {%- endif %}
    {% if page.taxonomies.language -%}
    <li>languages {{ macros::language(language=page.taxonomies.language )}}</li>
    {%- endif %}
    {% if page.taxonomies.framework -%}
    <li>frameworks {{ macros::framework(framework=page.taxonomies.framework )}}</li>
    {%- endif %}
    {% if page.taxonomies.authors -%}
    <li>contributors {{ macros::authors(authors=page.taxonomies.authors )}}</li>
    {%- endif %}
  </ul>

  {{ page.content | safe }}
</main>
{% endblock content %}
