{% extends "page.html" %}

{# article template is a copy of page template
    adds: displays date
    removes: breadcrumb #}
{# TODO remove code duplication #}

{% block content %}
<main class="page w3-container w3-content w3-padding-64">
    {{ macros::taxonomies(taxonomies=page.taxonomies) }}
    <span>{{ macros::translations(resource=page) }}</span>
    <span class="date float-right">{{ page.date }}</span>

  {% if page.extra.auto_toc %}{{ macros::toc(toc=page.toc, level=1, depth=page.extra.toc_depth | default(value=6)) }}{% endif %}

  {{ macros::replace_toc(resource=page) | safe }}
</main>
{% endblock content %}
