{% extends "index.html" %}

{% block content %}
    <main class="page w3-container w3-content w3-padding-64">
        <input id="search" class="search_input" type="search" placeholder="Search...">

        <div class="search-results">
            <p class="search-results__header"></p>
            <ul class="search-results__items w3-ul w3-border w3-hoverable"></ul>
        </div>

        <script src="/elasticlunr.min.js"></script>
        <script src="/search_index.fr.js"></script>
        <script src="/search.js"></script>
    </main>
{% endblock content %}