{% extends "index.html" %}

{% block content %}
<main class="w3-container w3-content page w3-padding-64">
    <p>{{config.extra.theme.taxonomies_description}}</p>

{% for t in config.taxonomies %}
<ul>
    {% set taxonomy = get_taxonomy(kind=t.name) %}
    <li><a href="/{{taxonomy.kind.name}}">{{taxonomy.kind.name}}</a> ({{ taxonomy.items | length }})</li>
    <ul>
    {% for item in taxonomy.items %}
        {% set url = get_taxonomy_url(kind=taxonomy.kind.name, name=item.name) %}
        <li><a href="{{url}}">{{ item.name }}</a> ({{ item.pages | length }})</li>
        <ul>
            {% for p in item.pages %}
                <li><a href="{{p.permalink}}">{{p.title}}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</ul>
<hr>
{% endfor %}

</main>
{% endblock content %}